html { margin-top: 0 !important; padding-top: 0 !important; }
html.wp-toolbar { padding-top: 0 !important; }
body { margin-top: 0 !important; padding-top: 0 !important; }
@media screen { html { margin-top: 0 !important; } }