
			/* SeedProd Menu Highlight - Generic class for FREE, NEW, etc. */
			#adminmenu .seedprod-menu-highlight {
				display: inline-block !important;
				color: #f18500 !important;
				vertical-align: super !important;
				font-size: 9px !important;
				font-weight: 600 !important;
				padding-inline-start: 2px !important;
			}
		